@font-face {
    font-family: 'cormorantmedium';
    src: url('webfonts/web_fonts_woff/cormorant/web_fonts/cormorant_medium/Cormorant-Medium-webfont.eot');
    src: url('webfonts/web_fonts_woff/cormorant/web_fonts/cormorant_medium/Cormorant-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/web_fonts_woff/cormorant/web_fonts/cormorant_medium/Cormorant-Medium-webfont.woff') format('woff'),
         url('webfonts/web_fonts_woff/cormorant/web_fonts/cormorant_medium/Cormorant-Medium-webfont.ttf') format('truetype'),
         url('webfonts/web_fonts_woff/cormorant/web_fonts/cormorant_medium/Cormorant-Medium-webfont.svg#cormorantmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


#white_block {
    width: 50vmax;
    animation: slide-left;
    animation-duration: 1s;
}

#navigation {
    width: 50vmax;
    animation: slide-left;
    animation-duration: 1s;

}

#text-stuff {
    font-family: 'cormorantmedium' !important;
    width: 50vmax;
    animation: slide-left;
    animation-duration: 1s;
    padding-bottom: 6%;
}

@keyframes slide-left {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0%);
  }
}