{% extends 'base.html' %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/media.css')}}">
{% endblock %}


{% block title %} Media · Artist Name  {% endblock %}

{% block content %}
<br>

<style type="text/css">
body {

  background: {{ 'url(' + url_for('static', filename='cover_images/5.jpg') + ')' }};
/*
  background: url('https://drive.google.com/uc?export=view&id=1Jc0D06nvXILYd455s0Ya6nXrDmkd0d8a');
*/

    }
</style>

    <div class="container-fluid">
            <div id="white_block">
                <h1 class="text"> Presskit & Media </h1>
            <div id="photos">

                <div class="thumb">
                    {% for photo in photos %}
                    <!--
                    Idea by Andrei (https://dbmast.ru/)
                    -->
                    <div class="pic">
                        <a href="{{ '#' + photo.id|string }}">
                        <img src="{{ photo.link }}" alt="{{ photo.title }}">
                        </a>

                        <div class="description"> {{photo.title}}
                            <br>
                        <a href="{{ photo.link }}" download="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-download" viewBox="0 0 16 16">
                              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </a>
                        </div>
                    </div>

                    {% endfor %}

                </div>

                {% for photo in photos %}

                <a href="#close" class="lightbox" id="{{ photo.id }}">

                        <img src="{{ photo.link }}">

                </a>
                {% endfor %}
            </div>
            </div>
<br>
            <div class="videos">

                {% for video in videos %}
                <div class="video_iframe">
                    <h2 class="text"> {{ video.title }} </h2>

                <iframe width="560" height="315" src="{{video.link}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                <br>
                </div>

                {% endfor %}
            </div>

    </div>

{% endblock %}